<div class="main blogs-new">
  <div class="container">
    <h1 class="form-heading">思い残すことはない？</h1>
      <div class="form">
        <div class="form-body">
          <%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
            <%= form.hidden_field :title %>
            <%= form.hidden_field :content %>
            <%= form.label :title %><%= @blog.title %>
            <%= form.label :content %><th><%= @blog.content %><p>
            <p>
            <button class="btn" type="submit">登録する</button>
            <button class="btn" type="submit" name="back" >もどる</button>
          <% end %>
        </div>
      </div>
  </div>
</div>
