<h1><%= @user.name %>のプロフィール
<% if @user.id == @current_user.id %>
  <%= link_to("編集", "/users/#{@user.id}/edit") %>
<% end %>
</h1>

<h1>お気に入り</h1>
<div class="main blogs-index">
  <div class="container">
    <% @favorites_blogs.each do |favorites_blog| %>
      <% blog = Blog.find_by(id: favorites_blog.blog_id) %>
      <div class="blogs-index-item">
        <div class="blog-left">
        </div>
        <div class="blog-right">
          <div class="blog-user-name">
            <%= link_to(blog.user.name, "/users/#{blog.user.id}") %>
          </div>
          <%= link_to(blog.title, "/blogs/#{blog.id}") %>
          <%= link_to(blog.content, "/blogs/#{blog.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
